html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    font-size : 100%;
    vertical-align : baseline;
    background : transparent;
}

/* ----------------------------
simple reset
---------------------------- */
html, body, ul, ol, li, form, fieldset, legend
{
  margin: 0;
  padding: 0;
}
pre {
	text-align:left;
}
h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
li { list-style: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table
{
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td
{
  font-weight: normal;
}
abbr, acronym
{
  border-bottom: .1em dotted;
  cursor: help;
}

/* end reset */

/* start common  */
* {
    font-family: 'Open Sans Condensed', Arial;
}

h1 {
	font-weight: normal;
	font-size: 24px;
	text-shadow: 1px 1px 0px #fff;
}
body {
	background:#f3f3f3;
}

.infoerrornote , .infonote, .infooknote {
	margin: 0;
	line-height: normal;
	padding: 10px 10px 10px 40px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #fff inset, 0 -1px 2px #fff inset;
	position:relative;
	font-size:14px;
	font-family:'BlanchCaps' !important;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* IE 8+ */ 
	text-align: left;
}

.infooknote {
	border: #9ed19e 1px solid;
	background:#c3fac3;
	
	background-image: linear-gradient(bottom, #a4d3a4 30%, #c3fac3 100%);
	background-image: -o-linear-gradient(bottom, #a4d3a4 30%, #c3fac3 100%);
	background-image: -moz-linear-gradient(bottom, #a4d3a4 30%, #c3fac3 100%);
	background-image: -webkit-linear-gradient(bottom, #a4d3a4 30%, #c3fac3 100%);
	background-image: -ms-linear-gradient(bottom, #a4d3a4 30%, #c3fac3 100%);
	
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.3, #a4d3a4),
	color-stop(1, #c3fac3)
	);
	text-shadow: 0px 1px 0px #666;
	color:#fff;

}

.infonote {
	border: #d1d09e 1px solid;
	background:#faf9c3;
	
	background-image: linear-gradient(bottom, #dedd9e 30%, #faf9c3 100%);
	background-image: -o-linear-gradient(bottom, #dedd9e 30%, #faf9c3 100%);
	background-image: -moz-linear-gradient(bottom, #dedd9e 30%, #faf9c3 100%);
	background-image: -webkit-linear-gradient(bottom, #dedd9e 30%, #faf9c3 100%);
	background-image: -ms-linear-gradient(bottom, #dedd9e 30%, #faf9c3 100%);
	
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.3, #dedd9e),
	color-stop(1, #faf9c3)
	);
	
	text-shadow: 0px 1px 0px #fff;
	color:#666;
}
.infoerrornote  {
	border: #870b0b 1px solid;
	background:#fac3c3;
	
	background-image: linear-gradient(bottom, #e29999 30%, #fac3c3 100%);
	background-image: -o-linear-gradient(bottom, #e29999 30%, #fac3c3 100%);
	background-image: -moz-linear-gradient(bottom, #e29999 30%, #fac3c3 100%);
	background-image: -webkit-linear-gradient(bottom, #e29999 30%, #fac3c3 100%);
	background-image: -ms-linear-gradient(bottom, #e29999 30%, #fac3c3 100%);
	
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.3, #e29999),
	color-stop(1, #fac3c3)
	);
	
	text-shadow: 0px 1px 0px #870b0b;
	color:#fff;
}

.infooknote em, .infoerrornote em, .infonote em {
	display:block;
	width:16px;
	height:16px;
	position:absolute;
	top:10px;
	left:12px;
}

.infooknote em {
	background: transparent url("../images/ok.png") -160px -16px;
}

.infonote em {
	background: transparent url("../images/warning.png") -176px -16px;
}

.infoerrornote em {
	background: transparent url("../images/error.png") -192px -16px;
}

#header {
	position:relative;
	height:40px;
	font-size:40px;
	font-family:'BlanchCaps';
	line-height:40px;
	text-align:center;
	background:#FCFCFC;
	color:#303030;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 0px 2px rgba(0,0,0,0.5);
	text-shadow: 0px 1px 0px #fff;
}

#header .leftmenu {
	float: left;
	display: inline-block;
	position: absolute;
	padding: 0 0 0 10px;
	left: 0;
}
.createProjectTrigger, .myProjectsTrigger {
	cursor: pointer;
}

#header .rightmenu {
	float: right;
	display: inline-block;
	position: absolute;
	padding: 0 10px 0px;
	right: 0;
}

#header .rightmenu li , #header .leftmenu li {
	display: inline-block;
}

#header img {
	max-width: 24px;
}

.createProjectBox {
	position: absolute;
	top: 48px;
	left: 12px;
	padding: 10px 30px 30px 30px;
	background-color: #fff;
	width: 200px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 0 5px #cacaca ;
	display: none;
	z-index: 3;
}

.createProjectBox input {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* IE 8+ */ 
}

#createProjectRespond {
	margin: 10px 0 0 0;
}

.listProjectBox {
	position: absolute;
	top: 48px;
	left: 40px;
	padding: 10px 10px 30px 10px;
	background-color: #fff;
	width: 200px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 0 5px #cacaca ;
	display: none;
	z-index: 3;
}

.listProjectBox a {
	color:#303030;
	text-decoration: none;
}
#content {
	font-size:12px;
	margin:10px 10px 10px 10px;
	position: relative;
}

/* project details */

#containerRight , #containerRight {
	display:inline-block;
	position:relative;
	width: 50%;
	padding: 0px 2px 0 2px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* IE 8+ */ 	
}
.footer {
	margin:0 10px 10px 10px;
	font-size:11px;
	color:#333;
}

.connectWrap {
	margin: 0 auto;
	text-align: center;
	
}
.connect {
	display: inline-block;
	width: 400px;
	margin: 0 auto;
	position: relative;
}

/* all the input except submit and checkbox */
.connect input:not([type="checkbox"]), 
.connect textarea{
	width: 100%;
	margin-bottom:10px;
	margin: 0 -3px 10px -3px;
	position:relative;
	padding: 3px;	
	border: 1px solid #c0c0c0;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing : content-box;
	box-sizing : content-box;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.4) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.4) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.4) inset;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size:16px;
}
.connect input:not([type="checkbox"]):active,
.connect input:not([type="checkbox"]):focus , 
.connect textarea:active, 
.connect textarea:focus {
	border: 1px solid #c0c0c0;
	background: rgba(238, 236, 240, 0.9);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

.connect textarea {
	height:150px;
	resize:none;
}

.connect input:-moz-placeholder,
.connect textarea:-moz-placeholder { 
 	color:rgba(50,50,50,0.5) !important;
}

.connect ::-webkit-input-placeholder { /* WebKit browsers */
    color:rgba(50,50,50,0.5) !important;
}
.connect :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgba(50,50,50,0.5) !important;
}
.connect ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:rgba(50,50,50,0.5) !important;
}
.connect :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:rgba(50,50,50,0.5) !important;
}