html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    font-size : 100%;
    vertical-align : baseline;
    background : transparent;
}

/* ----------------------------
simple reset
---------------------------- */
html, body, ul, ol, li, form, fieldset, legend
{
  margin: 0;
  padding: 0;
}
pre {
	text-align:left;
}
h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
li { list-style: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table
{
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td
{
  font-weight: normal;
}
abbr, acronym
{
  border-bottom: .1em dotted;
  cursor: help;
}

/* end reset */

/* start common  */


* {
	font-family:Arial, Helvetica, sans-serif;
}

body {
	background:#f3f3f3;
}

#header {
	position:relative;
	height:40px;
	font-size:40px;
	font-family:'BlanchCaps';
	line-height:40px;
	text-align:center;
	background:#FCFCFC;
	color:#303030;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 0px 2px rgba(0,0,0,0.5);
	text-shadow: 0px 1px 0px #fff;
}

#header .logout {
	display:block;
	float:right;
	line-height:20px;
	padding: 0 20px 0 0;
}

#header .logout a {
	font-size:12px;
	text-decoration:none;
}

#content {
	font-size:12px;
	margin:10px 10px 10px 10px;
}

.footer {
	margin:0 10px 10px 10px;
	font-size:11px;
	color:#333;
}